
.blackButton{
  
  margin-left: 1% !important;
  background-color: #020202 !important;
  opacity: 88%;
  border: 1px solid #E2B74F !important;
  border-radius: 7px;
  color: #E2B74F !important;
 
  

}
.blackButton:hover{
  background-color: #E2B74F!important;
  color: #f8e6be !important;
}

.blackButton > i{
   
    font-size: 15px;
   
    text-align: center !important;
}



.theButtons{
  text-align: center;
}