
body{
  overflow-x: hidden;
  background-image: url("./bg.gif") !important;
  background-size: cover !important;
  background-color: #020202 !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
   background-color: #020202 !important;
 }
/* #root{
  
} */
.App {
  text-align: center;
  
  
  min-height:800px;
  font-family: 'RobotoSlab';
  
}
.wb{
  border: white 2px;
}
a:hover{
  color:#E2B74F;
}


.searchArtists > input {
  border-radius: 90px !important;
  border: 1.5px solid #E2B74F !important;
  background-color: rgba(53, 37, 1, 0.8) !important;
  color:#f8e6be!important;
  
}
::placeholder{
color: #f8e6be !important;
}
.searchArtists > i {
  color:#E2B74F !important;
}
.searchArtists{
  margin-bottom: 15px;
}

.slick-dots li button {
  border-radius: 20px !important;
  color: #E2B74F !important;
  opacity: 70% !important;
  background-color: #E2B74F !important;
  
}

.slick-prev, .slick-next {
  border-radius: 20px !important;
  
}
.slick-prev:before, .slick-next:before {

  color: #E2B74F !important;

}

@font-face{
  font-family: 'Multicolore';
  src: url(./Multicolore.otf);
}
@font-face{
  font-family: 'RobotoSlab';
  src: url(./RobotoSlab-VariableFont_wght.ttf);
}
.curatedByNclyneSegment{
  background-color: rgba(0, 0, 0, 0.89) !important;
  border-radius: 20px !important;
  
  border: 1px solid #E2B74F !important;
  
  
}




.whitebg{
  border: 3px solid white;

}








.theButtons{
  text-align: center;
}

.navbar{
  height: 120px;
  color: #E2B74F;
  font-weight: bold;
}
.tagline{
  position: relative;
  top: 25px;
  right: 25px;
  font-style: italic;
  text-align: right;
}

.navbarColumn{
  height: 100%;
  text-align: right;
}

.NclyneLogo{
  height: 60px;
  position: relative;
  left: 20%;
  top: 25%;
}

.mainlinks{
  color:#E2B74F;
  padding-left: 30px;
  text-align: center;
  position: relative;
  top: 68%;
  right: 18%;
  font-size: 5vmin;
}
.mainlinks:hover{
  color:#f8e6be;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


  
/*Screen 1000px or less*/
@media only screen and (max-width:1000px) {
  /*.nft34156852{
    position: relative;
    right:2.5%;
    /*digitalLotus was positioned right for some reason, should probably update to mobile only
    }*/
 
}
@media only screen and (max-width: 600px){


}


.App-link { 
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
