.App {
  text-align: center;
  background-image: url("./bg.gif");
  background-size: cover;
  background-color: #020202;
  background-position: center;
  background-repeat: no-repeat;
  height:120vh;
  min-height:800px;
  font-family: 'RobotoSlab';
  
}
.wb{
  border: white 2px;
}
a:hover{
  color:#E2B74F;
}
.slickSlider{



  color:#ffffff;
  
}
.slideAndSearch{
  height: 80%;
}

.searchArtists > input {
  border-radius: 90px !important;
  border: 1.5px solid #E2B74F !important;
  background-color: rgba(53, 37, 1, 0.8) !important;
  color:#f8e6be!important;
  
}
::placeholder{
color: #f8e6be !important;
}
.searchArtists > i {
  color:#E2B74F !important;
}
.searchArtists{
  margin-bottom: 15px;
}

.slick-dots li button {
  border-radius: 20px !important;
  color: #E2B74F !important;
  opacity: 70% !important;
  background-color: #E2B74F !important;
  
}

.slick-prev, .slick-next {
  border-radius: 20px !important;
  
}
.slick-prev:before, .slick-next:before {

  color: #E2B74F !important;

}

@font-face{
  font-family: 'Multicolore';
  src: url(./Multicolore.otf);
}
@font-face{
  font-family: 'RobotoSlab';
  src: url(./RobotoSlab-VariableFont_wght.ttf);
}
.curatedByNclyneSegment{
  background-color: rgba(0, 0, 0, 0.89) !important;
  border-radius: 20px !important;
  
  border: 1px solid #E2B74F !important;
  
  
}
.curationProjectCopy{
  color: #f8e6be!important;
  text-shadow: -0.5px 0.5px 0.5px #f6f1e4;
  text-align: center;
  letter-spacing: 2px;
  font-family: 'multicolore' !important;


}
.sub.curationProjectCopy{
  font-family: 'RobotoSlab' !important;
}

.goldBG{
  
  background-color: rgba(226,183,79,.25);
  color:#000000;
  border-radius:20px;
  padding-bottom:50px;
}

.whitebg{
  border: 3px solid white;

}

.sliderContents{
  margin-top: 50px;

}
img.visualContent{
  border-radius: 10px;
  opacity: 90%;
 

  margin-bottom: 25px;
}
body{
 
  background-color: #020202 !important;
}

.artistDetails{
  text-align: center;
  font-size: 18px;
  

  
  outline: #020202;

  
}

div.artistDetails{
 
  margin-top: 40px;
  border-radius: 20px;
  text-shadow:3px 3px 3px #000000;
  font-family: 'multicolore' !important;
  color: #E2B74F !important;

}
p.artistDetails{
  margin:25px;
  font-size: 15px;
  max-height: 150px;
  color: #f8e6be;
  overflow-y: scroll;
  overflow-x: hidden;
  text-indent: 30px;
  line-height: 25px;
  text-align: left;
  text-shadow:1px 1px 0px #000000;
  font-family: 'RobotoSlab';

}
.blackButton{
  margin-left: 15%;
  padding-top: 7px;
  background-color: #020202 !important;
  opacity: 88%;
  font-weight: bolder;
  border: 1px solid #E2B74F;
  border-radius: 7px;
  color: #E2B74F !important;
  text-align: center;
  height: 37px;
  width: 75%;
}
.blackButton:hover{
  background-color: #E2B74F!important;
  color: #f8e6be !important;
}



.sliderButton{
  background-color: #020202 !important;
  opacity: 88%;
  font-weight: bolder;
  border: 1px solid #E2B74F !important;
  border-radius: 7px;
  color: #E2B74F !important;
}
.sliderButton:hover{
  background-color: #E2B74F!important;
  color: #f8e6be !important;
}
.theButtons{
  text-align: center;
}
.sliderGrid{
  width:100% !important;
}
.navbar{
  height: 120px;
  color: #E2B74F;
  font-weight: bold;
}
.tagline{
  position: relative;
  top: 25px;
  right: 25px;
  font-style: italic;
  text-align: right;
}

.navbarColumn{
  height: 100%;
  text-align: right;
}

.NclyneLogo{
  height: 60px;
  position: relative;
  left: 20%;
  top: 25%;
}

.mainlinks{
  color:#E2B74F;
  padding-left: 30px;
  text-align: center;
  position: relative;
  top: 68%;
  right: 18%;
  font-size: 5vmin;
}
.mainlinks:hover{
  color:#f8e6be;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


  
/*Screen 1000px or less*/
@media only screen and (max-width:1000px) {
  /*.nft34156852{
    position: relative;
    right:2.5%;
    /*digitalLotus was positioned right for some reason, should probably update to mobile only
    }*/
    .sliderContents{

  margin-left: 3%;
}
}
@media only screen and (max-width: 600px){
  img.visualContent{
    height: 150px !important;
  }
  p.artistDetails{
    display: none;
  }

}


.App-link { 
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
