.tagContainer{
  position: relative;
}

.tagline{
    color: #f8e6be ;
    opacity: 77%;
    text-shadow:1px 1px 1px black ;
    font-family: 'Varela Round' !important;
    letter-spacing: 2px;
    text-align: right !important;
    font-size: 12.5px;
    position: absolute;
    right: 2px;
    top: 2px;
    font-weight: 500 !important;
}
.navbar{
  display: flex;
}
.whiteborder{
  border: 2px solid white !important;
}
.topLogoRow{
  margin-top: 20px !important;
}

.NclyneLogo{
    height: 60px;
    opacity: 77%;
  }
  @font-face{
    font-family: 'Multicolore';
    src: url(../../Multicolore.otf);
  }

  .logoText{
    letter-spacing: 10px;
    font-family: 'Multicolore' !important;
  }
  .logoText > img{
    min-width: 150px !important;
  }

  